.button {
    padding: 14px;
    border: none;
    font-size: 14px;
    color: #606060;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    background: transparent;
}

.icon {
    width: 14px;
    height: 14px;
    background-image: url("./../../img/cancel_icon.png");
    background-size: 100% 100%;
}
